@charset "UTF-8";

/** section_1 **/
.section1 {
  padding-top: 100px;
}
.section1 h2 {
  font-size: 30px;
  line-height: 1.3;
}  
.section1 h2 span {
  color: #ff5a00;
  font-size: 55px;
}
.section1 .content_wrap {
  display: flex;
  gap: 45px;
  overflow: hidden;
}
.section1 .content_wrap .content {
  position: relative;
}
.section1 .content_wrap .content .img_wrap {
  width: 1330px;
}
.section1 .content_wrap .content .img_wrap a {
  display: inline-block;
}
.section1 .content_wrap .content .img_wrap img {
  
}
.section1 .content_wrap .content .img_wrap img:nth-of-type(2) {
  position: absolute;
  top: 0;
  left: 0;
}
.section1 .content_wrap .content .img_wrap img:nth-of-type(2):hover {
  display: none;
}
.section1 .content_wrap .content .section_text {
  position: absolute;
  top: 65%;
  left: 0;
  background: rgba(0,0,0,.4);
  width: 100%;
  padding: 10px 20px 25px 170px;
}
.section1 .content_wrap .content .section_text h3 {
  font-size: 40px;
  font-weight: 800;
  line-height: 1.6;
}
.section1 .content_wrap .content .section_text p {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  
  width: 950px;
}

/** section_2 **/
.section2 {
  position: relative;
  display: flex;
}
.section2 h2 {
  
}
.section2 .look_wrap {
  display: flex;
}
.section2 .look_kcon {
  
}
.section2 .section_text {
  position: relative;
  margin: 45px 80px;
}
.section2 .section_text p {
  font-size: 23px;
  text-align: center;
}
.section2 .section_text p strong {
  font-size: 37px;
  font-style: italic;
  font-family: 'Libre Bodoni', serif;
}
.section2 .section_text .edit {
  display: flex;
  margin: 30px 30px;
  position: relative;
}
.section2 .section_text .edit img {
  border-radius: 50px;
  width: 48px;
}
.section2 .section_text .edit p {
  margin-left: 10px;
  font-size: 14px;
  text-align: start;
}
.section2 .section_text .sns {
  
  position: absolute;
  right: 0;
  top: 40%;
}
.section2 .section_text .sns ul {
  display: flex;
}
.section2 .section_text .sns ul li {

}
.section2 .section_text .sns ul li a {

}
.section2 .section_text .sns img {
  font-size: 0;
  width: 25px;
  height: 25px;
  margin-left: 10px;
}
.section2 .section_text .more {
  
}
.section2 .section_text .more::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background: #aaa;
}
.section2 .section_text .more button {
  margin-top: 40px;
  margin-left: 30px;
  border: none;
  background: #111;
}
.section2 .section_text .more button a {
  font-size: 16px;
  border: 1px solid #eee;
  padding: 10px 20px;
  background: transparent;
}
.section2 .section_text .more button a:hover {
  background: #333;
  opacity: 0.8;
  transition: .4s;
}

/** section_3 **/
.section3 {
  
}
.section3 h2 {
  
}
.section3 h2 a {
  
}
.section3 .featured_wrap {
  position: relative;
}
.section3 .featured_wrap h3 {
  font-size: 28px;
  line-height: 3;
}
.section3 .featured_wrap ul {
  display: flex;
  gap: 30px;
}
.section3 .featured_wrap ul li {
  flex: 1;
  margin-bottom: 40px;
}
.section3 .featured_wrap ul li a {

}
.section3 .featured_wrap ul li a figure {
  position: relative;
  overflow: hidden;
}
.section3 .featured_wrap ul li a figure img {
  
}
.section3 .featured_wrap figure .featured_text {
  background: rgba(0,0,0,.8);
  padding: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 80%;
}
.section3 .featured_wrap figure:hover .featured_text{
  animation-name: cardFadeIn;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
}
@keyframes cardFadeIn{
  from{
    opacity: 0;
    transform: translateY(0px);
  }
  to{
    opacity: 1;
    transform: translateY(-180px);
  }
}
.section3 .featured_wrap .featured_text h4 {
  font-size: 20px;
  margin-bottom: 40px;
  margin-top: 10px;
}
.section3 .featured_wrap .featured_text p {
  font-size: 15px;
  color: #ccc;
}
.section3 .featured_wrap span {
  font-size: 12px;
  color: #999;
  line-height: 6;
}

/** section_4 **/
.section4 {
  background: #eee;
}
.section4 h2 {

}
.section4 h2 a {
  color: #333;
}
.section4 .news_wrap {

}
.section4 .news_wrap .news_cont {
}
.section4 .news_wrap .news_cont ul {
  display: flex;
  gap: 32px;
}
.section4 .news_wrap .news_cont>ul>li {
  flex: 1;
}
.section4 .news_wrap .news_cont ul li a {
  
}
.section4 .news_wrap .news_cont ul li a figure {
  overflow: hidden;
}
.section4 .news_wrap .news_cont ul li a img {
  transition: all .4s;
}
.section4 .news_wrap .news_cont ul li a:hover img {
  transform: scale(1.05);
}
.section4 .news_wrap .news_cont .news_text {
  position: relative;
}
.section4 .news_wrap .news_cont .news_text span {
  color: #888;
  font-size: 13px;
  font-weight: 600;
}
.section4 .news_wrap .news_cont .news_text p {
  color: #333;
  margin-top: 5px;
  font-size: 16px;
  height: 80px;
}
.section4 .news_wrap .news_cont .news_text p::after {
  content: "";
  display: block;
  position: absolute;
  background: #ccc;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
}
.section4 .news_wrap .news_cont ul li .news_tag {

}
.section4 .news_wrap .news_cont ul li .news_tag ul {
  font-size: 14px;
  margin-top: 20px;
}
.section4 .news_wrap .news_cont ul li .news_tag ul li {

}
.section4 .news_wrap .news_cont ul li .news_tag ul li a {
  color: #888;
}
.section4 .news_wrap .news_cont ul li .news_tag ul li a:hover {
  font-weight: 500;
  color: #333;
}